* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Notable", "san-serif";
}

.navbar-logo {
  height: 80px;
  width: 80px;
}

.branding-title {
font-family: 'Mansalva', cursive;
}

.carousel {
  height: 400px;
}

.carousel-item,
.carousel-inner {
  height: 100%;
  width: auto;
}

.carousel-inner img {
  width: 100%;
  height: 50%;
}

.carousel-item {
  text-align: center;
}

#background-carousel {
  background-color: #000000;
}
