* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Notable", "san-serif";
}

.navbar-logo {
  height: 80px;
  width: 80px;
}

.branding-title {
font-family: 'Mansalva', cursive;
}

.carousel {
  width: 600px;
  margin: auto;
}


.carousel-inner img {
  width: 100%;
  height: auto;
  max-height: 400px;
}

.carousel-item {
  text-align: center;
}

@media (max-width: 600px) {
  .carousel {
    width: auto;
    height: auto;
  }
}
